@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;700&display=swap");

@font-face {
  font-family: 'Mars Bold';
  src: url('../../assets/Fonts/Mars\ Bold.otf') format('opentype');
  font-weight: bold;
}

// Banner container
.banner {
 
   
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;; // Prevent any overflow causing gaps

  // Banner background section
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/Images/image.jpg'); // Banner image
    background-size: cover; // Cover the entire area
    background-position: center; // Center the image
    z-index: 1; // Ensure banner is below the content
  }

  // Left Side - Text and Icons
  &__left {
    position: absolute;
    top: 35%; // Adjust as needed for desktop
    left: 4rem; // Distance from the left edge
    z-index: 2; // Ensure content is above the banner
    color: #fff; // White text for better contrast

    .banner__text {
      p {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
    }

    .banner__icons {
      display: flex;
      gap: 2rem;
      margin-top: 1.5rem;

      .icon {
        font-size: 1.5rem;
        color: #fff; // White icons
        transition: color 0.3s ease;

        &:hover {
          color: #007bff; // Hover color
        }
      }
    }

    // Your Name
    .banner__name {
      font-family: 'Mars Bold', sans-serif;

      margin-top: 4rem; // Space between icons and name
      font-size: 5rem; // Big font size
      color: #0098ee; // Blue color
      transition: color 0.3s ease;

     
    }
  }

  // Responsive adjustments for mobile and tablet
  @media (max-width: 768px) {
    height: 80vh; // 80% height for mobile

    // Adjust left side for mobile
    .banner__left {
      top: 70%; // Move content further down
      left: 1rem; //  distance from the left edge
      transform: translateY(-50%); // Center vertically

      .banner__text {
        p {
          font-size: 1.3rem; // Smaller text for mobile
        }
      }

      .banner__icons {
        gap: 0.5rem; //  gap between icons

        .icon {
          font-size: 1.2rem; // Smaller icons for mobile
        }
      }

      // Adjust name for mobile
      .banner__name {
        font-size: 2.5rem; // Adjusted font size for mobile
        margin-top: 1.5rem; // Reduce space between icons and name
      }
    }
  }

  // Further adjustments for smaller mobile devices
  @media (max-width: 480px) {
    .banner__left {
      .banner__name {
        font-size: 2.6rem; // Smaller font size for very small screens
        margin-top: 2rem; // Reduce space between icons and name
      }
    }
  }
}