@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');


.slider3-container {
    width: 100%;
    padding: 7% 7%;
    margin: 0rem auto;
    text-align: center;
    background: #011F4B;
    
  gap: 0; 

    .slider3-title {
        font-family: "Noto Sans", sans-serif;
        color: #FAFAFA;
        font-size: 2.2rem;
        font-weight: 300;
        margin-bottom: 1.5rem;
    }

    .slider3-slide {
        padding: 20px 0;
        

        .review-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            .review-card {
                background: #011F4B;
                padding: 20px;
                border-radius: 8px;
                // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: translateY(-5px);
                }

                .review-text {
                    font-family: "Noto Sans", sans-serif;
                    font-weight: 300;
                    font-size: 1rem;
                    font-style: italic;
                    margin-bottom: 10px;
                    color: #FAFAFA;
                }

                .review-author {
                    font-family: "Noto Sans", sans-serif;

                    font-size: 0.9rem;
                    font-weight: 400;
                    color: #FAFAFA;
                }
            }
        }
    }

    // Slick Dots Styling
    .slick-dots {
        bottom: -30px;
        display: flex !important;
        justify-content: center;
        align-items: center;

        li {
            margin: 0 5px;

            button:before {
                font-size: 12px;
                color: #FAFAFA;
                opacity: 0.75;
            }

            &.slick-active button:before {
                color: #FAFAFA;
                opacity: 1;
            }
        }
    }

    @media (max-width: 768px) {
        width: 90%;

        .slider3-slide {
            .review-grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    @media (max-width: 480px) {
        .slider3-slide {
            .review-grid {
                grid-template-columns: 1fr;
            }
        }
    }
}