@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap");

.newsletter {
  max-width: 100%;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  background-color: #0098ee;

  &__heading {
    font-family: "Noto Sans", sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
    color: white;

    @media (max-width: 768px) {
      font-size: 1.7rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
  }

  &__field {
    display: flex;
    align-items: center; /* Align label and input in a single row */
    gap: 1rem; /* Space between label and input */
    width: 100%;
  }

  &__label {
    font-family: "Noto Sans", sans-serif;

    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    width: 80px; /* Fixed width to align labels */
    text-align: right; /* Align text to the right */
  }

  &__input {
    flex: 1; /* Take remaining space */
    padding: 0.7rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background-color: transparent;
    font-family: "Noto Sans", sans-serif;

    color: white; /* User input text color is now white */

    &::placeholder {
      color: rgba(255, 255, 255, 0.7); /* Placeholder text slightly transparent white */
    }

    &:focus {
      outline: none;
      border-color: #fff;
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    }
  }

  &__error {
    color: #b53d3de8;
    font-size: 0.9rem;
    margin-left: 90px; /* Align error message under input */
    margin-top: 0.2rem;
    text-align: left;
  }

  &__button {
    font-family: "Noto Sans", sans-serif;
    background-color: white;
    color: #0098ee;
    padding: 0.7rem 1.5rem;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 1.1rem;
    width: fit-content;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #0098ee;
      color: white;
      border: 1px solid white;
      transform: translateY(-2px);
    }

    @media (max-width: 768px) {
      font-size: 1rem;
      padding: 0.6rem 1.2rem;
    }
  }

  &__disclaimer {
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
    font-family: "Noto Sans", sans-serif;
  }

  @media (max-width: 600px) {
    &__field {
      flex-direction: column;
      align-items: flex-start;
    }

    &__label {
      width: auto;
      text-align: left;
    }

    &__input {
      width: 100%;
    }

    &__error {
      margin-left: 0;
    }
  }
}
